@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p></p>
    <p>This project was made according to the assignment requirements. </p>
    <p>n-tier architecture</p>
    <p>Microsoft Identity is used for login-logout-user operations </p>
    <p>SendGrid package is used for mail services </p>
</div>
